asgiref==3.8.1
click==8.1.8
colorama==0.4.6
cssbeautifier==1.15.1
dj-database-url==2.3.0
Django==5.1.4
djlint==1.36.3
EditorConfig==0.17.0
Faker==33.1.0
jsbeautifier==1.15.1
json5==0.10.0
pathspec==0.12.1
pillow==11.0.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.8.2
