{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}

<!-- Main content -->
<main class="mt-16">
    <section class="w-full about">
      <!-- Start Hero Section -->
      <header class="about-hero text-center text-white py-12 bg-blue-600">
        <div class="container mx-auto">
          <h1 class="font-bold text-4xl mb-4 fourth-color">About Us Cairo SE Hub</h1>
          <p class="text-lg md:text-xl">
            Welcome to our educational platform! This website serves as the
            official repository for all academic materials related to the
            Software Engineering Professional Diploma, offered by the Institute
            of Statistical Studies and Research, Cairo University. This platform
            reflects our commitment to providing high-quality educational
            resources under the guidance of esteemed faculty members at Cairo
            University.
          </p>
        </div>
      </header>
      <!-- End Hero Section -->

      <!-- Start About Us Section -->
      <section id="about-us" class="py-12">
        <div class="container mx-auto">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="p-6 bg-white shadow-lg rounded-lg about-content">
              <h2 class="text-3xl font-semibold mb-4">Our Mission</h2>
              <p class="text-lg">
                To provide comprehensive and high-quality educational
                resources for students and professionals in Software Engineering,
                supporting their academic and practical development in line with
                the standards of the Professional Diploma at Cairo University's
                Institute of Statistical Studies and Research.
              </p>
            </div>
            <div class="p-6 bg-white shadow-lg rounded-lg">
              <h2 class="text-3xl font-semibold mb-4">Our Vision</h2>
              <p class="text-lg">
                To be the leading platform for Software Engineering education,
                empowering learners with the skills and knowledge they need to
                excel in the rapidly evolving field of technology, while
                maintaining academic excellence and innovation.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Us Section -->
    </section>
  </main>

{% endblock content %}
