{% extends 'base_dashboard.html' %}

{% block title %}Course List{% endblock %}

{% block content %}
<h2 class="text-3xl font-extrabold text-center text-gray-900 mb-8">Courses</h2>
<a href="{% url 'dashboard:course_create' %}" class="bg-blue-500 text-white p-3 rounded-md mb-5 inline-block">Create
    Course</a>
<table class="table-auto w-full h-auto overflow-auto border-collapse border border-gray-200">
    <thead>
        <tr>
            <th class="border p-2">Title</th>
            <th class="border p-2">Category</th>
            <th class="border p-2">Instructor</th>
            <th class="border p-2">Price</th>
            <th class="border p-2">Rating</th>
            <th class="border p-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td class="border p-2">{{ course.title }}</td>
            <td class="border p-2">{{ course.category }}</td>
            <td class="border p-2">{{ course.instructor }}</td>
            <td class="border p-2">{{ course.price }}</td>
            <td class="border p-2">{{ course.rating }}</td>
            <td class="border p-2">
                <a href="{% url 'dashboard:course_edit' course.pk %}" class="text-blue-500">
                    <i class="fas fa-edit"></i> Edit
                </a> |
                <a href="{% url 'dashboard:course_delete' course.pk %}" class="text-red-500">
                    <i class="fas fa-trash"></i> Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}